* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toggle-switch {
    width: 150px;
    height: 80px;
    border-radius: 15px;
    background: #ccc;
    position: relative;
    transition: 0.3s;
}

.toggle-switch::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    transition: 0.3s;
}

.toggle-switch:has(:checked) {
    background: #53a318;
}

.toggle-switch:has(:checked)::before {
    transform: translate(100px, -50%);
    /* background: #ffa726; */
}
